
html, body {
position : fixed;
top : 0;
bottom : 0;
left : 0;
right : 0;
}
html {
font-size : large;
font-family : sans-serif;
padding : initial;
position : relative;
background : url(./img/reg.jpg) center center no-repeat fixed;
background-size : cover;
}
body {
margin : auto;
}
.Encabezado {
background : rgba(255, 255, 255, 1);
background : linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(224, 224, 224, 1) 25%, rgba(219, 219, 219, 1) 63%, rgba(254, 254, 254, 1) 84%, rgba(254, 254, 254, 1) 100%);
height : 40px;
width : 100%;
}
.Encabezado ul {
height : 80px;
list-style : none;
margin : 0 auto;
padding : 0;
width : fit-content;
text-align : left;
}
.Encabezado ul li {
color : black;
display : inline-block;
height : 40px;
line-height : 40px;
list-style : none;
padding : 0 10px;
transition : background 0.5s;
}
.button:hover, .Encabezado ul li:hover {
background : #117bff;
cursor : pointer;
transition : background 0.5s;
}
.Principal {
margin : 0 auto;
padding : 0 10px;
}
.Principal .pie {
position : absolute;
bottom : 0%;
width : 100%;
height : 50%;
color : white;
}
.Principal .pie p {
color : #fff;
font-size : 20px;
height : 0;
line-height : 20px;
margin-top : 550px;
margin-left : 350px;
position : absolute;
}
.button {
color : #fff;
background : #000;
padding : 10px 40px;
text-decoration : none;
transition : background 0.5s;
}
input[type="text"]:hover, input[type="password"]:hover, label:hover ~ input[type="text"], label:hover ~ input[type="password"] {
background : #ffffff;
}
.principal {
height : auto;
width : auto;
position : relative;
}
.principal .signup {
width : 300px;
height : 300px;
background : url(./img/unnamed.png) center;
background-size : contain;
margin : auto;
padding : 10px;
}
.principal .signup #signup {
width : 200px;
height : 200px;
margin : auto;
margin-top : 20px;
padding : 20px;
position : inherit;
}
.principal .signup #signup h1 {
position : inherit;
font : 30px 30px 'trebuchet MS', Arial, Helvetica;
color : #a9a9a9;
text-align : center;
margin : 0 0 20px;
}
.principal .signup #signup h1::before, .principal .signup #signup h1::after {
content : '';
position : inherit;
top : 10px;
bottom : 10px;
left : 0;
right : 0;
}
.principal .signup #signup input {
margin : 5px 0;
padding : 8px;
width : inherit;
box-sizing : border-box;
border : #ccc solid 1px;
border-radius : 3px;
}

